[submodule "sample_contract/lib/forge-std"]
	path = sample_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sample_contract/lib/coprocessor-base-contract"]
	path = sample_contract/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
[submodule "test/lib/forge-std"]
	path = test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/test/lib/forge-std"]
	path = test/test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demodapp/contracts/lib/forge-std"]
	path = demodapp/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demodapp/contracts/lib/coprocessor-base-contract"]
	path = demodapp/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
[submodule "contract-template/lib/forge-std"]
	path = contract-template/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/coprocessor-base-contract"]
	path = lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
[submodule "contract-template/lib/coprocessor-base-contract"]
	path = contract-template/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
[submodule "demo_dapp/contracts/lib/forge-std"]
	path = demo_dapp/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demo_dapp/contracts/lib/coprocessor-base-contract"]
	path = demo_dapp/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
[submodule "demp_dapp/contracts/lib/forge-std"]
	path = demp_dapp/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demp_dapp/contracts/lib/coprocessor-base-contract"]
	path = demp_dapp/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
